<!DOCTYPE html>
<!--
    Design by:
    ——————————
        GODO FREDO
        ✉ https://godofredo.ninja
        ✎ @GodoFredoNinja
        ✈ Lima - Perú
-->
<html lang="{{@site.lang}}" data-theme="light">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!--  Font -> Rubix=400,600,700 Domine=400 --}}
    <link href="https://fonts.googleapis.com/css?family=Domine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap" rel="stylesheet">
    {{!-- <link href="https://fonts.googleapis.com/css?family=Domine|Rubik:400,500,700&display=swap" rel="stylesheet"> --}}

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}"/>
    {{!-- <style>{{> "styles"}}</style> --}}

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}

    <script>
        if (typeof(Storage) !== 'undefined') {
            var selectTheme = localStorage.getItem('selected-theme');
            if (selectTheme === 'dark') {
                document.documentElement.setAttribute('data-theme', 'dark')
            } else if (selectTheme === 'light') {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        }
    </script>
</head>
<body class="{{block "special_body_class"}}">
    <div class="site-wrapper u-flexColumnTop">
        {{!-- Header Content --}}
        {{> "header"}}

        {{!-- Subscribe and tag -> this will be below the header --}}
        {{#is "index, home, tag"}}{{> "widget/subscribe-and-secondary-menu"}}{{/is}}

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        <main class="main u-relative {{{block "special_site_main_class"}}}">{{{body}}}</main>

        {{!-- Instagram --}}
        {{#is "post"}}<div class="instagram js-instagram u-hide u-relative u-bgColorGrayLight"></div>{{/is}}

        {{!-- Footer Content --}}
        {{>"footer"}}
    </div>

    {{!-- Search box --}}
    {{> "widget/search"}}

    {{!-- Subscribe Modal --}}
    {{> "widget/modal-subscribe"}}

    {{!-- Loandig Bar --}}
    <div class="loadingBar"></div>

    {{!-- Back to top --}}
    <div class="back-to-top js-back-to-top u-hide-before-lg u-pointer u-fixed">
        {{> "icons/back-to-top"}}
        <p class="back-to-top-text u-fontSizeBase u-fontWeightMedium">{{t "GO TOP"}}</p>
    </div>

    {{!-- notification Subscribe --}}
    {{#if @labs.members}}
    <div class="subscribe-success-message u-flexCenter u-justify-content-center">
        <span class="u-fontSize22" style="margin-right:10px">🎉</span> {{t "You've successfully subscribed to"}} {{@site.title}}!
        <div class="notification-close button button--success">OK</div>
    </div>

    {{!-- Icons --}}
    {{> "icons/icons-symbol-defs"}}

    {{!-- Blog URL --}}
    <script>
        var siteUrl = '{{@site.url}}';
        var siteSearch = '{{asset "scripts/search.js"}}';
        var sitePrismJs = '{{asset "scripts/prismjs.js"}}';
        var sitePrismJscomponents = '/assets/scripts/components/';
    </script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

    {{!-- Main scripts --}}
    <script src="{{asset "scripts/main.js"}}"></script>

    <script>
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');

        function ready() {
            if (action == 'subscribe') { document.body.classList.add('subscribe-success'); }

            document.querySelector('.notification-close').addEventListener('click', function() {
                this.parentNode.classList.add('close');
            });
        }
        window.addEventListener('load', ready, false);
    </script>
    {{/if}}

    {{!-- Paginastion --}}
    {{#if pagination.pages}}<script src="{{asset "scripts/pagination.js"}}" defer async></script>{{/if}}

    {{!-- script --}}
    {{{block "scripts"}}}
</body>
</html>