<div class="Menu {{#if is_popup}} popup{{/if}}">

<a href="https://imaginarium-cloud.glitch.me/" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <i class="shome"></i>
        <span class="subscribe-text">Home</span>
    </a>
<a href="https://www.minds.com/groups/profile/604673111018713103/feed" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <i class="sminds"></i>
        <span class="subscribe-text">Social</span> </a>

<a href="<a href="https://www.minds.com/groups/profile/604673111018713103/feed" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <i class="spod"></i>
        <span class="subscribe-text">Pod</span> </a>

    <a href="https://imaginarium-cloud.glitch.me/videos" class="subscribe-link"
        target="_blank" rel="noopener noreferrer">
        <i class="simagine"></i>
        <span class="subscribe-text">Shows</span>
    </a>
    <a href="https://imaginarium-cloud.glitch.me/cardcreator" class="subscribe-link" target="_blank"
        rel="noopener noreferrer">
        <i class="smtcg"></i>
        <span class="subscribe-text">MTCG</span>
    </a>
</div>
