<footer class="site-footer container medium">
    {{> customize/subscribe}}
    <div class="copyright">
        Powered by <a href="https://mindsgaming.glitch.me/" target="_blank">#MindsGaming</a>
    </div>
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}
