<div class="share">
    <a class="share-item"
        href="https://www.minds.com/register?referrer=MindsGaming"
        target="_blank" rel="noopener noreferrer">
        <i class="minds icon-Minds hidden-md hidden-lg hidden-xl"></i>
        <span class="share-text hidden-xs hidden-sm">Share</span>
    </a>
 
    {{#if og_description}}
        <a class="share-item share-download" href="{{og_description}}"
            target="_blank" rel="noopener noreferrer">
            <i class="icon icon-download hidden-md hidden-lg hidden-xl"></i>
            <span class="share-text hidden-xs hidden-sm">Download</span>
        </a>
    {{/if}}
</div>
